body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
}

h1 {
    line-height: 2;
    margin-bottom: 25px;
    margin-top: 50px;
    margin: 0 auto 0 auto;
    text-align: center;
    color:#8CC0DE;
}

h2 {
    font-weight: normal;
    margin: 0 auto 0 auto;
    text-align: center;
    color:#8CC0DE;
}

h1.profileH1{
    color:#E77373;
}

h2.profileH2{
    color:#E77373;
}

h3 {
    color:#8CC0DE;
}

a {
    color: #8CC0DE;
}

hr{
    width: 10%;
    border-style: dotted none none;
    border-color: #F4BFBF;
    border-width: 5px;
}

.topContainer {
    background-color: #FCEEEE;
    background-position: center;
    padding-top: 100px;
    position: relative;
    color: #E77373;
}

.middle-container {
    background-color: #FAF0D7;
    
}

.profile{
    padding: 40px 0 20px 0;
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 2;
    padding: 100px;
}

.bottom-container {
    background-color: #FCEEEE;
    padding: 50px;
}

.topCloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottomCloud {
    bottom: 300px;
    left: 400px;
    position: absolute;
}

.mountain {
    opacity: 0.7;
    position: relative;
    margin-bottom: -3px;
}

.myphoto {
    border-radius: 50%;
    width: 150px;
    padding: 0 0 20px 0;
}

.skills {
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.skill1 {
    float: left;
    margin-right: 30px;
    width: 25%;
}

.skills2 {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.skill-row {
    padding-bottom: 50px;
}

.contact-me{
    padding: 100px;
    text-align: center;
    width: auto;
}

.footer-links{
    word-spacing: 50px;
}

.credits{
    font-size: xx-small;
}

.btn {
    background: #8CC0DE;
    background-image: -webkit-linear-gradient(top, #c0dced, #70afd7);
    background-image: -moz-linear-gradient(top, #c0dced, #70afd7);
    background-image: -ms-linear-gradient(top, #c0dced, #70afd7);
    background-image: -o-linear-gradient(top, #c0dced, #70afd7);
    background-image: linear-gradient(to bottom, #c0dced, #70afd7);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .btn-contact{
    padding-top: 20px;
  }